pip>=23.3
wheel
PyYAML
numpy==1.26.4
requests>=2.31.0,<2.32.0
tqdm
wget
ffmpeg-python>=0.2.0
faiss-cpu
librosa==0.11.0
scipy==1.15.1
soundfile==0.12.1
noisereduce
pedalboard
stftpitchshift
soxr
omegaconf>=2.0.6
numba
numba==0.61.0
torchcrepe==0.0.23
torchfcpe
swift_f0
einops
transformers==4.44.2
matplotlib==3.7.2
tensorboard
gradio==5.23.1
certifi>=2023.07.22
antlr4-python3-runtime==4.8
tensorboardX
edge-tts==7.2.0
pypresence
beautifulsoup4
sounddevice
webrtcvad
